*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 60px;
  font-family: 'Acme', sans-serif;
  color: #29B1DD;
}

.nav{
  background-color: #29B1DD;
  height: 100px;
}

.main-content{
  background-color: #DDDDDD;
}

.box{
  float: left;
  height: 150px;
  margin: 25px;
  border-radius: 15px;
  cursor: pointer;
}

i{
  font-size: 25px;
}